* {
  font-family: "DejaVuSansM Nerd Font Mono";
  font-size: 13px;
}

#waybar {
  background: #101010;
  color: #888888;
}

#workspaces,
#taskbar,
#layout,
#window,
#clock,
#battery,
#pulseaudio,
#tray {
  margin: 2px 4px;
}

#workspaces {
  border-radius: 4px;
  background: #202020;
}

#workspaces button {
  padding: 0;
  margin: 2px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  background: #303030;
  color: #888888;
}

#workspaces button.active {
  background: #dddddd;
  color: #000000;
}

#workspaces button.urgent {
  background: #000000;
  color: #ffffff;
}

#workspaces button:hover {
  background: #111111;
  color: #ffffff;
}

#workspaces button.active:hover {
  background: #dddddd;
  color: #000000;
}

#taskbar {
  border-radius: 4px;
  background: #202020;
}

#taskbar button {
  padding: 0px 2px;
}

#battery.charging {
  color: #49688e;
}

#battery.warning:not(.charging) {
  color: #c3674a;
}
